<%= form_tag(request.path, method: :get, class: 'index-search-form page-item-search clearfix') do %>
  <input type="hidden" id="tab" name="tab" value="<%= @tab %>">
  <div class="search-text clearfix">
    <div class="search-input mt-3">
      <%= text_field_tag 'search_text', @search_text, class: 'search-text-input with-img form-control',
                          placeholder: 'Search' %>
    </div>

    <div class="search_country mt-3">
      <%= select_tag 'query[country_id]',
                      options_from_collection_for_select(Country.all.order(name: :asc),
                                                        'id',
                                                        'name',
                                                        @query.try(:[], :country_id) ),
                      class: 'select-country form-control',
                      include_blank: 'Country' %>
    </div>

    <div class="search_tour_type mt-3">
      <%= select_tag 'query[tour_type]',
                      options_for_select(tour_types_for_select, @query.try(:[], :tour_type)),
                      class: 'select-tour-type form-control',
                      include_blank: 'Tour type' %>
    </div>

    <div class="search_transport_type mt-3">
      <%= select_tag 'query[transport_type]',
                      options_for_select(transport_types_for_select, @query.try(:[], :transport_type)),
                      class: 'select-transport-type form-control',
                      include_blank: 'Transport type' %>
    </div>

    <button class="btn btn-primary mt-3">filter</button>

  </div>
<% end %>
