<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to '/', class: 'navbar-brand explorer-logo' do %>
      <%= image_tag 'explorer-logo-rectangle.png', height: '40', width: '162' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Top Viewpoints',
                      viewpoints_photos_path,
                      class: "nav-link #{current_class? photos_path }" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Profile',
                        user_path(current_user),
                        class: "nav-link #{current_class? user_path(current_user) }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit my profile',
                        edit_user_registration_path,
                        class: "nav-link #{current_class? edit_user_registration_path }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out',
                        destroy_user_session_path,
                        class: "nav-link #{current_class? destroy_user_session_path }",
                        method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign up',
                        new_user_registration_path,
                        class: "nav-link #{current_class? new_user_registration_path }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log in',
                        new_user_session_path,
                        class: "nav-link #{current_class? new_user_session_path }" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>